h1{
    text-align: center;
}

h2{
    text-align: center;
}

.Options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
    
}

#Tracknames{
    grid-column: 1;
    grid-row: 2;
}

#Metadata{
    grid-column: 2;
    grid-row: 2;
}

#Album-Cover{
    grid-column: 1;
    grid-row: 3;
}

#Song-Lyrics{
    grid-column: 2;
    grid-row: 3;
}

#All-Button{
    grid-column: 1 / -1;
    grid-row: 4;
}
